npm & node 18+  https://nodejs.org/

после установки ноды в корне проекта ввести 'npm i' для загрузки зависимостей 
для запуска 'npm start'
в консоль ввести ссылку на таблицу, она должна быть паблик


